* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
html{
    
     
}

.banner {
    width: 100%;
    height: 100vh;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.75),rgba(0,0,0,0.75)), url(images/josiah-farrow-ucuOscdCaO4-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    width: 90%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: block;
    width: 20%;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: larger;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: rgb(255, 166, 0);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    
}

.navbar ul li:hover::after{
    width: 100%;
}

.content {
    
    margin: 8% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*position: relative;
    top: 35%;*/
    
    color: white;
    
}



.content h1 {
    font-size: 70px;
    margin-top: 80px;
    text-transform: uppercase;
    padding: 15px 0px;
    margin: 0 auto;
    text-align: center;
    
}

.content h2 {
    font-size: 60px;
    font-weight: lighter;
    margin-top: 80px;
    text-transform: uppercase;
    padding: 15px 0px;
    margin: 0 25%;
    text-align: center;
    border-top: 3px solid rgb(255, 166, 0);
}

.content p{
    margin: 2% 30%; 
    font-weight: lighter;
    line-height: 50px;
    font-size: 25px;
    padding:15px 0px;
    text-align: center;
    font-style: italic;
    
}

.btn {
    margin: 2% 30%; 
    text-align: center;
    transform: translateY(-50%);
}

.button {
    text-decoration: none;
    padding: 30px 50px;
    font-size: 1.25rem;
    position: relative;
    color: white;
    
    
    
}

.button::after, .button::before {
    border: 3px solid rgb(255, 166, 0);
    content: "";
    position: absolute;
    width:  calc(100% - 6px);
    height:  calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;

}
.button:hover::after {
    transform: translate(-5px, -5px);
}

.button:hover::before {
    transform: translate(5px, 5px);
}


footer {
    
    background-color: black;
    
}

.rights {
    display: flex;
    align-items: center;
    justify-self: center;
    margin: auto;
    padding: 35px 0px;
    width: 90%;
    color: white; 
}


@media screen and (max-width: 950px){
    html{
        background-image:  linear-gradient(rgba(0, 0, 0, 0.75),rgba(0,0,0,0.75)), url(images/josiah-farrow-ucuOscdCaO4-unsplash.jpg);
        
        
    }
    .navbar {
        margin: auto;
        padding: 35px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo {
        display: block;
        width: 70%;
        cursor: pointer;
    }
    ul{
        display: none
    }

    .banner {
        background-image: none; 
           
    }
    .content {
        margin: auto;
        margin-bottom: 10%;
    }

    .content h1 {
        font-size: 25px;    
    }
    .content h2{
        font-size: 20px;
        margin: auto;
    }
    .content p{
        font-size: 20px;
        margin: 10%;
    }
}